body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f7f5ff;
  }
  
  h1 {
    margin-top: 30px;
  }
  
  .product {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  button {
    background: #5a4fcf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background: #4439b3;
  }
  
  a {
    text-decoration: none;
    color: #5a4fcf;
    font-weight: bold;
  }
  .auth-box {
    width: 320px;
    margin: 80px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
  }
  
  .auth-box input,
  .auth-box select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .auth-box button {
    width: 100%;
    padding: 10px;
    background: #4a6cf7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-box button:hover {
    background: #3956d4;
  }